.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
notebooks/*
LOAD_TEST_README.md
load_test_requirements.txt
load_test_vote.py
