:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 600;
  
    color: #aaa;
  
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  html, body {
    overflow-x: hidden;
    background: linear-gradient(137.28deg, #677272 -5.33%, #121212 38.62%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
  
  body {
    display: flex;
    justify-content: center;
    place-items: center;
    min-width: 320px;
    min-height: 100%;
    max-width: 1280px;
    margin: 0 auto;
    text-align: center;
    position: relative;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow: none;
  }
  
  body::-webkit-scrollbar {
    display: none;
  }
  