:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 600;

  color: #aaa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  background: -webkit-gradient(137.28deg, #677272 -5.33%, #121212 35.62%) no-repeat;
  background: -webkit-linear-gradient(137.28deg, #677272 -5.33%, #121212 35.62%) no-repeat;
  background: -ms-linear-gradient(137.28deg, #677272 -5.33%, #121212 35.62%) no-repeat;
  background: -o-linear-gradient(137.28deg, #677272 -5.33%, #121212 35.62%) no-repeat;
  background: linear-gradient(137.28deg, #677272 -5.33%, #121212 35.62%) no-repeat;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

body {
  display: flex;
  justify-content: center;
  place-items: center;
  min-width: 350px;
  min-height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  scrollbar-width: none;
  -ms-overflow-style: none;
  overflow: none;
}

main {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body::-webkit-scrollbar {
  display: none;
}